:root {
    --gray-color: #808080;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Inter', sans-serif;
}

h1 {
    font-weight: 800;
    font-size: 2.8rem;
}

h2,
h3 {
    font-size: 2.5rem;
}