:root {
    --gray-color: #808080;
    --bg-gray:#ECEEF1;

}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
}

h1 {
    font-weight: 800;
    font-size: 2.4rem;
    padding-inline-start: 5px;
}

h2,
h3 {
    font-size: 2rem;
    margin: 0;
}

p,
a {
    font-size: 1.2rem;
    color: var(--gray-color);
}

button:hover {
    cursor: pointer;
}

figure {
    margin: 0;
}

img {
    width: 100%;
}

.wrapper {
    max-inline-size: 1232px;
    margin: 0 auto;
}

/* Header section */

.header-content {
    background-color: black;
    color: white;
    inline-size: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    inline-size: 35px;
    padding-inline-end: 5px;
}
/* Main section */

/* First section */

.hero-section {
    block-size: 350px;
    padding: 22px;
    background-image: url(../assets/img/background-hero.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}

.hero-button {
    display: block;
    margin-block: 12px;
    inline-size: 175px;
    block-size: 35px;
    border-radius: 5px;
    border: 2px solid white;
    font-weight: 700;
    color: white;
    background-color: transparent;
}

/* Second section */
section {
    min-block-size: 280px;
}

.brands-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.brand-icon {
    inline-size: 85px;
    block-size: 60px;
}

.article-image {
    margin-block-end: 25px;
}

.section-content h3,
.section-content p {
    padding-inline: 15px;
}
/* Third Section */
section:nth-of-type(3),
section:nth-of-type(4) {
    display: flex;
    align-items: center;
}

section:nth-of-type(3) {
    background-image: url(../assets/img/bgImage-section.png);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Fourth Section */
section:nth-of-type(4) {
    justify-content: center;
    flex-direction: column;
    padding-block: 20px;
    background-color: black;
    color: white;
}

section:nth-of-type(4) p {
    color: white;
}

.green-line {
    inline-size: 85%;
    block-size: 22px;
    align-self: flex-end;
    margin-block-end: 30px;
}

.green-line img {
    height: 100%;
}

/* Fifth section */
.woman-section {
    display: flex;
    flex-direction: column-reverse;
}
.content-description {
    margin-block-start: 15px;
}
.woman-image {
    margin: 15px auto;
    inline-size: 170px;
}

/* Cards Section */
.cards-section {
    padding-block: 20px;
    text-align: center;
    background-color: var(--bg-gray);
}

.card {
    inline-size: 200px;
    margin: auto;
    text-align: center;
    margin-block: 40px;
    padding: 15px;
    background-color: white;
}
.user {
    position: relative;
    bottom: 40px;
    inline-size: 60px;
    margin: 0 auto;
}

p strong {
    color: black;
}

p span {
    display: block;
}

.card p:first-of-type {
    margin-block-end: 25px;
}

.card,
.float-card {
    border-radius: 10px;
}

/* Float Card */
.float-card {
    margin: auto;
    padding-block: 25px;
    inline-size: 225px;
    text-align: center;
}

.float-card button {
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: white;
    font-weight: 700;
    background-color: black;
    inline-size: 175px;
}

/* Footer Section */
footer {
    padding: 15px;
    background-color: black;
    color: var(--gray-color);
}

.social-media--icons {
    display: flex;
}

.social-icon {
    inline-size: 30px;
}

.social-icon:nth-of-type(2) {
    margin-inline: 10px;
}
ul {
    padding: 0;
    margin-block-end: 25px;
}

footer h3,
ul p {
    color: white;
}

ul li {
    list-style: none;
    line-height: 18px;
    font-size: 1.2rem;
}

ul li:hover {
    cursor: pointer;
    color: white;
}