:root {
    --gray-color: #808080;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
}

h1 {
    font-weight: 800;
    font-size: 2.8rem;
    padding-inline-start: 5px;
}

h2,
h3 {
    font-size: 2.5rem;
    margin: 0;
}

p,
a {
    font-size: 1.6rem;
    color: var(--gray-color);
}


figure {
    margin: 0;
}

img {
    width: 100%;
}

.wrapper {
    max-inline-size: 1232px;
    margin: 0 auto;
}

/* Header section */

.header-content {
    background-color: black;
    color: white;
    inline-size: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    inline-size: 35px;
    padding-inline-end: 5px;
}

.menu:hover {
    cursor: pointer;
}

/* Main section */

/* First section */

.hero-section {
    block-size: 350px;
    padding: 15px;
    background-image: url(../assets/img/background-hero.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}

.hero-button {
    display: block;
    margin-block: 12px;
    inline-size: 175px;
    block-size: 35px;
    border-radius: 5px;
    border: 2px solid white;
    font-weight: 700;
    color: white;
    background-color: transparent;
}